@model ELECTION.Models.Candidat

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Candidat</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomCandidat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomCandidat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrenomCandidat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrenomCandidat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CinCandidat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CinCandidat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageCandidat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageCandidat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Administrateur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Administrateur.AdministrateurId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CandidatId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
