@model IEnumerable<ELECTION.Models.Candidat>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="row">
    <div class="col-md-10"></div>
    <div class="col-md-2">
<p>
   <a asp-action="Create" class="btn btn-primary btn-icon bottom15 right15">  
                                              <i class="fa fa-plus"></i> &nbsp; <span>Ajouter</span></a>
                                        
</p>
        </div>
    </div>
<table class="table">
    <thead>
        <tr>
            <th>
             Nom
            </th>
            <th>
              Prenom
            </th>
            <th>
              Numéro Cin
            </th>
            <th>
              Image
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomCandidat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrenomCandidat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CinCandidat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageCandidat)
            </td>
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.CandidatId">Edit</a> |
                
                <a asp-action="Delete" asp-route-id="@item.CandidatId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
