@model IEnumerable<ELECTION.Models.Candidat>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomCandidat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrenomCandidat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CinCandidat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageCandidat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Administrateur)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomCandidat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrenomCandidat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CinCandidat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageCandidat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Administrateur.AdministrateurId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CandidatId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CandidatId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CandidatId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
