@model IEnumerable<ELECTION.Models.Administrateur>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
   <a asp-action="Create" class="btn btn-primary btn-icon bottom15 right15">  
                                              <i class="fa fa-plus"></i> &nbsp; <span>Ajouter</span></a>
                                        
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nom
            </th>
            <th>
              Prenom
            </th>
            <th>
                Numéro Cin
            </th>
         
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomAdmin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrenomAdmin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CinAdmin)
            </td>
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.AdministrateurId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AdministrateurId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AdministrateurId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
