@model ELECTION.Models.CentreElection

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CentreElection</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LibelleCentre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LibelleCentre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdresseCentre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdresseCentre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Administrateur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Administrateur.AdministrateurId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CentreElectionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
